* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.body-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #D9D9D9;
}

.header {
    width: inherit;
    height: 100px;
    display: flex;
    align-items: center;
    background-color: #4939AC;
    padding: 0 3%;
    color: #fff;
    font-size: 32px;
}

.main {
    flex: 1;
    display: flex;
    padding: 2% 3%;
}

